# Build products
build/
publish/
*.so
*.jar
*.class
*/default.Dockerfile
pwnablerunner

# Debugger files
*.idb
*.id0
*.id1
*.nam
*.til
*.i64
peda-session-*.txt
.gdb_history
core

# Real flags
real_flag*.txt

# Private challenges
private/

# Solutions
*.py
*.pyc
