# Build products
/.build/
*.so
*.jar
*.class
**/pytest_cache
**/default.Dockerfile
!/default.Dockerfile

# Debugger files
*.idb
*.id0
*.id1
*.nam
*.til
*.i64
peda-session-*.txt
.gdb_history
core

# Real flags
real_flag*.txt

# Publish destination directory
/publish

# Custom configuration
/Config.mk

# Solutions
*.py
*.pyc
*.pyo

# Random OS files
.DS_Store
thumbs.db
._*
*.swp

# All top-level directories in this repo...
/*/

# ...except for these directories:
!/examples
