# Ignore all top-level items by default
/*

# Do NOT ignore the top-level examples directory
!/examples/

# Ignore the contents of each example directory
/examples/*/*


##################
# Do NOT ignore: #
##################

# All C/C++ source files and text files
!*.c
!*.cpp
!*.h
!*.txt
!*.md

# (...but REALLY ignore real flags)
real_flag*.txt

# All Makefiles
!Makefile
!*.mk

# All gitignore files
!.gitignore

# Dockerfiles, including the top-level default.Dockerfile
!Dockerfile
!/default.Dockerfile

# YAML files (including docker-compose.yml)
!*.yml
!*.yaml

# Any other filetypes that should be allowed should
# be added here or in another .gitignore file.
